pybit==5.6.2
pandas==2.2.2
pandas_ta==0.3.14b0
pyarrow==17.0.0
python-dotenv==1.0.1
PyYAML==6.0.2
python-telegram-bot==21.6
SQLAlchemy==2.0.36
alembic==1.13.3
requests==2.32.3
psycopg2-binary==2.9.9
redis==5.1.0
tenacity==8.5.0
tornado==6.4.1