pybit==5.12.0
pandas==2.3.3
pandas-ta==0.3.14b0
python-dotenv==1.1.1
PyYAML==6.0.3
python-telegram-bot==22.5
backtesting==0.6.5
SQLAlchemy==2.0.44
alembic==1.17.0
psycopg2-binary==2.9.11
redis==6.4.0
tenacity==9.1.2